//
// Variables
// --------------------------------------------------

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #4a4a4a;
$gray-darker:            lighten($gray-base, 10); // #666
$gray-dark:              lighten($gray-base, 30); // #999
$gray:                   lighten($gray-base, 54); // #d6d6d6
$gray-light:             lighten($gray-base, 60); // #e6e6e6
$gray-lighter:           lighten($gray-base, 64); // #f0f0f0

$brand-primary:         #3688ff;
$brand-dark: 			desaturate(darken($brand-primary, 8), 18); // #2374e9
$brand-light:			desaturate(lighten(#3688ff, 14), 5); // #83b5fc
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $gray-light;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Ruda", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~20px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~14px

$font-size-h1:            ceil(($font-size-base * 2.6)); // ~42px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~34px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~28px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~14px